

.board{
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.cardSize{
	background-color: red;
	width: 238px;
	height: 332px;
}



.battlefield{
	position: relative;
	width: 80%;
	background-color: yellow;
	display: flex;
	justify-content: space-around;
}

body{
	background-color: #333;
}